<!doctype html>
<html lang="en">
<!--
    Created as a self project at "Learning Python Israel" course by Yam Mesika"
    Createor: Aviad Amar
    Beltempo Web: https://beltempo.herokuapp.com/
-->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>Beltempo - Weather everywhere</title>

    <link href="{{ url_for('static', filename='style.css') }}" type="text/css" rel='stylesheet'>
    <script src="{{url_for('static', filename='script.js')}}"></script>
    <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
    <link rel="icon" href="/static/img/wicon.png">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">
</head>



<body class="{{ info['theme'] }}">
    <nav class="{{ info['theme'] }}">
        <a href="#">
            <header> BELTEMPO. </header>
        </a>

        <img src=" static/img/nav_bar.svg" alt="Navigation Bar" id="hamburger-bar">

        <ul class="black-white one-on-two" id="hidden-menu">
            <li onmouseover="show('#why')" onmouseout=" hide('#why')"> WHY?</li>
            <li onmouseover="show('#how')" onmouseout=" hide('#how')"> HOW?</li>
            <li onmouseover="show('#who')" onmouseout=" hide('#who')"> WHO?</li>
        </ul>

        <p class="white-black one-on-two info-text" id="why">Lorem ipsum dolor sit amet consectetur
            adipisicing
            elit.
            Nostrum
            praesentium fugiat illum accusamus? Distinctio iusto quia officiis earum consequatur ex
            dolores,
            quam
            temporibus quos! Iure consequuntur perspiciatis nihil officiis quasi!
        </p>
        <p class="white-black one-on-two info-text" id="how">This website backend engine is using:
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet necessitatibus magni aliquid
            ullam
            repellat
            quidem sed quis quo inventore optio iusto neque voluptas corrupti doloremque ratione,
            pariatur nam
            nobis
            fuga, quam odit alias laboriosam nihil. Quidem necessitatibus temporibus, unde optio hic
            maiores
            atque
            eligendi harum fugiat laborum nemo, et neque, officiis omnis commodi ipsum exercitationem?><br>

            Credits: Rapid Api: Weather
        </p>
        <p class="white-black one-on-two info-text" id="who">
            <img class="profile-pic" src="static/img/pp.png" alt="web author picture">

            Lorem ipsum, dolor sit amet
            consectetur
            adipisicing
            elit.
            Expedita
            ullam asperiores eveniet tempora amet labore nemo, dolore magni reiciendis suscipit quae
            officia,
            rem,
            obcaecati nisi architecto. Repudiandae nemo temporibus ipsa.<br>
        </p>
    </nav>

    <main>
        <section>
            <div>
                <div class="local-info">
                    <div class="city-name"> {{ info['city'] }} </div>
                    <div class="title-date">{{ info['date'] }}</div>
                    <div class="hour">{{ info['time'] }}</div>
                    <img class="weather-icon" src="static/img/{{ info['today'][2] }}" alt="{{ info['today'][0] }}"
                        title="{{ info['today'][0] }}">
                    <div class="title-date">{{ info['today'][1] }}<sup>O</sup></div>
                </div>
                <div>
                    <form action="{{ url_for('index') }}" method="POST">
                        <button class="search-button black-white">
                            <ion-icon name="search-outline"></ion-icon>
                        </button>
                        <input class="search white-black" name="search" type="text"
                            placeholder="Search a city or country ...">
                    </form>
                </div>
            </div>
            <div id="more-info-mark">
                <div>More Info</div>
                <img class="down-arrow" src="static/img/arrow.svg" alt="more info arrow">
            </div>
        </section>

        <section class="days-section">
            <div class="days">
                {% for date in info['all_days_info'] %}
                <div class="day">
                    {% if date[0][0] == 'SUN' or date[0][0] == 'SAT' %}
                    <div class="black-yellow">
                        {% else %}
                        <div class="black-white">
                            {% endif %}
                            {{ date[0][0] }} {{ date[0][1] }}
                        </div>
                        <div class="white-black">
                            <img class="weather-icon" src="static/img/{{ date[1][2] }}" alt="{{ date[1][0] }}"
                                title="{{ date[1][0] }}">
                        </div>
                        <div class="white-black"> {{ date[1][1] }}<sup>O</sup></div>
                    </div>
                    {% endfor %}
                </div>
        </section>

        <section class="city-info-section">
            <div class="city-info white-black">
                <p>
                    <span>{{ info['city'] }} </span><br>City in {{ info['country'] }}
                </p>
                <hr>
                <p>
                    {{ info['summary'] }}
                </p>
                <a href="{{ info['wiki_url'] }}" class="read-more" target="_blank"> >> Read More </a>
            </div>
            <div class="white-triangle white-black"></div>
        </section>
    </main>
    <footer class="black-white">
        <div id="author">Aviad Amar Design</div>
        <div>"It's Raining Men"</div>
        <div>
            <a href="http://www.linkedin.com/in/aviad-amar-368405aa" target="_blank">
                <ion-icon class="social-logo" name="logo-linkedin"></ion-icon>
            </a>
            <a href="https://www.instagram.com/amar.aviad/" target="_blank">
                <ion-icon class="social-logo" name="logo-instagram"></ion-icon>
            </a>
            <a href="https://www.facebook.com/profile.php?id=100000349062330" target="_blank">
                <ion-icon class="social-logo" name="logo-facebook"></ion-icon>
            </a>
        </div>
    </footer>
</body>

</html>